body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

img {
  width: 150px;
}

figure {
  text-align: center;
  border: 2px solid gray;
  padding: 10px;
}